<div class="content">
    <div class="box-info">
        <div class="info">
            <div class="name"> <span>{{box.name}}</span> </div>
            <div class="button">
                <div class="btn" (click)="openBox()">
                    <span> Open Box (Price: {{box.cost}}) </span>
                </div>
            </div>
        </div>
        <div class="icon">
            <img [src]="box.iconUrl" [alt]="box.name">
        </div>
    </div>
    <div class="box-items">
        <div class="won-item" *ngIf="wonItem.length>0">
            <div class="img">
                <img [src]="wonItem" [alt]="box.name">
            </div>
            <div class="name"> MPG </div>
            <div class="price"> 10.99 </div>
        </div>
        <div class="prizes-cont">
            <div class="img">
                <img [src]="prizeImage" [alt]="box.name">
            </div>
        </div>
    </div>
</div>